:root {
	--header-and-nav-border: #e8ebed;
	--add-thing-border: #e8ebed;

	--search-border: #a3a9ae;
	--search-placeholder: #9ea4aa;

	--link: #454c53;

	--nav-active-background: #f5f6f7;

	--sell-btn-color: #fff;
	--sell-btn-background: #0484f6;

	--category-color: #5d6569;

	--add-thing-header: #333333;

	--cancel-button-background: #adb1c5;
	--complete-button-background: #0484f6;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	height: 100vh;
}

li {
	list-style: none;
}

/* header */

header {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid var(--header-and-nav-border);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.header-wrapper {
	width: 990px;
	height: 50px;
	display: flex;
	position: relative;
}

.user-utils {
	position: absolute;
	right: 0;
	top: 90%;
	width: 168px;
	height: 95px;
	background-color: #fff;
	z-index: 999;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-util {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 100%;
	height: 45px;
}

.util-wrapper {
	width: 115px;
	height: 40px;
	display: flex;
	align-items: center;
	color: var(--user-util);
	font-size: 14px;
	cursor: pointer;
}

.header__logo {
	width: 210px;
	height: 35px;
}

.logo-image {
	width: 160px;
	height: 40px;
}

.header__search {
	width: 485px;
	height: 35px;
	border-bottom: 1px solid var(--search-border);
	display: flex;
}

.icon-wrapper {
	width: 35px;
	height: 39px;
	display: flex;
	justify-content: center;
}

.search-icon {
	font-size: 25px;
}

.search-input {
	width: 450px;
	height: 30px;
	background-color: transparent;
	border: none;
}

.search-input:focus {
	outline: none;
}

.search-input::placeholder {
	font-size: 15px;
	color: var(--search-placeholder);
}

.header__utils {
	width: 329px;
	height: 35px;
	display: flex;
	justify-content: flex-end;
	gap: 40px;
}

.link-wrapper {
	width: 150px;
	height: 35px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.profile-wrapper {
	width: 270px;
	height: 35px;
	display: flex;
	justify-content: flex-end;
}

.profile-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	width: 100px;
}

.profile-icon-wrapper i {
	color: var(--profile-color);
	font-size: 20px;
}

.profile-info-name {
	display: flex;
	font-size: 12px;
}

.profile-info-wrapper {
	width: 130px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

#profileInfoName {
	width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #333333;
}

.profile-image {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.link {
	font-size: 14px;
	color: var(--link);
}

/* nav */

nav {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid var(--header-and-nav-border);
	display: flex;
	justify-content: center;
}

.nav-wrapper {
	width: 990px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.nav__category {
	width: 200px;
	height: 50px;
	border-left: 1px solid var(--header-and-nav-border);
	border-right: 1px solid var(--header-and-nav-border);
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.nav__category__active {
	background-color: var(--nav-active-background);
}

.category-wrapper {
	width: 160px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category-text {
	font-size: 18px;
	font-weight: bold;
}

.sell-thing-btn {
	width: 160px;
	height: 50px;
	background-color: var(--sell-btn-background);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: none;
	cursor: pointer;
}

.camera-icon,
.sell-thing-text {
	color: var(--sell-btn-color);
}

.camera-icon {
	font-size: 20px;
}

.sell-thing-text {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 3px;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

article {
	width: 990px;
	height: 120 0px;
	position: relative;
}

.category-down-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 680px;
	height: 371px;
	display: flex;
	background-color: #fff;
	border-left: 1px solid var(--header-and-nav-border);
	border-bottom: 1px solid var(--header-and-nav-border);
	display: none;
	z-index: 999;
}

.category__active {
	display: block;
}

.menu-wrapper {
	width: 136px;
	height: 100%;
	border-right: 1px solid var(--header-and-nav-border);
}

.categorys {
	width: 136px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.categorys:nth-child(1) {
	margin-top: 20px;
}

.categorys-wrapper {
	width: 128px;
	height: 26px;
	display: flex;
}

.category-icon-wrapper {
	width: 28px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-desc,
.category-icon {
	color: var(--category-color);
}

.category-icon {
	font-size: 19px;
}

.category-desc {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	font-size: 13px;
}

.add-thing-wrapper {
	width: 990px;
	height: 1019px;
	display: flex;
	align-items: flex-end;
}

.add-thing {
	width: 100%;
	height: 980px;
	border: 1px solid var(--add-thing-border);
}

.add-thing-header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: var(--add-thing-header);
	border-bottom: 1px solid var(--add-thing-border);
	width: 100%;
	height: 64px;
}

.add-thing-content-wrapper {
	width: 100%;
	height: 916px;
	display: flex;
	align-items: center;
}

.add-thing-content {
	width: 100%;
	height: 796px;
	display: flex;
	justify-content: center;
}

.add-thing-content-data {
	width: 820px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.data-item {
	display: flex;
}

.data-picture {
	width: 100%;
	height: 320px;
}

.data-desc {
	width: 162px;
	height: 37px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

.data-picture-upload {
	width: 490px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px 20px;
}

.picture-upload-box {
	width: 148px;
	height: 148px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--add-thing-border);
	position: relative;
}

.picture-thumbnail {
	width: 78px;
	height: 28px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	background-color: #0484f6;
	color: #fff;
	font-size: 14px;
}

.upload-camera-icon {
	font-size: 30px;
	color: #e7e7e7;
	opacity: 0.9;
}

.data-subject {
	width: 100%;
	height: 37px;
}

.subject-input {
	width: 658px;
	border: 1px solid var(--add-thing-border);
	padding-left: 10px;
}

.select-category {
	width: 155px;
	height: 38px;
	border: 1px solid var(--add-thing-border);
	padding-left: 5px;
}

.content-input {
	width: 656px;
	height: 173px;
	border: 1px solid var(--add-thing-border);
	padding: 10px 0 0 10px;
	resize: none;
}

.price-input {
	width: 280px;
	height: 38px;
	border: 1px solid var(--add-thing-border);
	padding-left: 10px;
}

.data-price-text {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.add-thing-buttons {
	width: 100%;
	height: 57px;
	display: flex;
	justify-content: center;
	gap: 35px;
	margin-top: 30px;
}

.add-thing-buttons button {
	width: 177px;
	height: 57px;
	color: #fff;
	border: none;
	font-size: 17px;
	border-radius: 3px;
}

.add-thing-cancel {
	background-color: var(--cancel-button-background);
}

.add-thing-complete {
	background-color: var(--complete-button-background);
}

.disabled {
	display: none;
}
