:root {
	--header-background: #c7b198;
	--main-background: #f0ece3;
	--search-icon-color: #676fa3;
	--search-bacground: #f0ece3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
}

main {
	width: 700px;
	height: 550px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

article {
	width: 100%;
	height: 450px;
	background-color: var(--main-background);
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.note-info {
	margin-top: 20px;
	width: 500px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.note__subject {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding-left: 10px;
}

.note__content {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: relative;
	padding: 10px 0 0 10px;
}

.button-wrapper {
	display: flex;
	gap: 20px;
}

.cancel,
.modify {
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 14px;
}

.cancel {
	background-color: #db6b97;
}

.modify {
	background-color: #a3e4db;
}

/* 헤더 부분 */

header {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--header-background);
	border-radius: 10px 10px 0 0;
}

.header-wrapper {
	width: 550px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.header__text {
	font-size: 40px;
	font-weight: bold;
	width: 90%;
}

.header__desc {
	font-size: 15px;
	width: 90%;
}
