:root {
	--header-background: #c7b198;
	--main-background: #f0ece3;
	--search-icon-color: #676fa3;
	--search-bacground: #f0ece3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
}

main {
	width: 700px;
	height: 550px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

article {
	width: 100%;
	height: 450px;
	background-color: var(--main-background);
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.search-notes {
	margin-top: 5px;
	width: 550px;
	height: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	background-color: var(--search-bacground);
}

.search-wrapper {
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.search-icon {
	color: var(--search-icon-color);
}

.search-input {
	margin-left: 10px;
	height: 20px;
	width: 400px;
	border: none;
	background-color: transparent;
}

.search-input:focus {
	outline: none;
}

.notes-wrapper {
	width: 550px;
	height: 360px;
}

.notes-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}

.notes {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	overflow: auto;
}

.notes::-webkit-scrollbar {
	width: 5px;
}

.notes::-webkit-scrollbar-thumb {
	background-color: #fabb51;
}

.notes::-webkit-scrollbar-track {
	background-color: #faedc6;
}

.note {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95%;
	min-height: 80px;
	background-color: #fff;
	border-radius: 15px;
}

.note-wrapper {
	position: relative;
	width: 500px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.note__subject {
	width: 75%;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.note__content {
	width: 75%;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.delete-note {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 0;
}

.trash-icon {
	position: absolute;
	right: 0;
	top: 0;
	color: #e16259;
	font-size: 20px;
	cursor: pointer;
}

.write-date-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #99a799;
	font-size: 12px;
}

.button-wrapper {
	width: 500px;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 5px;
}

.new-note {
	width: 100px;
	height: 30px;
	background-color: #de834d;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}

/* 헤더 부분 */

header {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--header-background);
	border-radius: 10px 10px 0 0;
}

.header-wrapper {
	width: 550px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.header__text {
	font-size: 40px;
	font-weight: bold;
}

.header__desc {
	font-size: 15px;
}

/* 기타 */

.disabled {
	display: none;
}

.no-note {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-align: center;
	opacity: 0.3;
}
