@media screen and (max-width: 767px) {
	header,
	main,
	body,
	.note-info {
		width: 100%;
	}

	main {
		height: 100%;
	}

	header {
		height: 13%;
	}

	article {
		height: 87%;
	}

	.header__text {
		font-size: 30px;
		width: 90%;
	}

	.header__desc {
		font-size: 12px;
		width: 90%;
	}

	.note__subject,
	.note__content {
		width: 90%;
	}
}